html {margin:100px; border: 0px solid red; padding:10px;}
body {margin:0; padding:0; width:100%; background-color:#a8c9d8; font:normal 12px/2.0em Sans-Serif;}
#page {margin: 0; padding:0; background:#fff;}
#header, #main, #footer, #top-nav {margin:0; padding:0;}
header {
  text-align: center;
}
h1, h2, h3 {color:darkred;}
#logo {padding:0; width:auto; float:left;}
#logo h1 a {color:darkred; text-decoration:none;}
#logo h1 span {color:#f8dbdb;}
#top-nav {margin:0 auto; padding:0px 0 0; height:37px; float:right;}
#top-nav ul {list-style:none; padding:0; height:37px; float:left;}
#top-nav ul li {margin:0; padding:0 0 0 8px; float:left;}
#top-nav ul li a {display:block; margin:0; padding:8px 20px; color:red; text-decoration:none;}
#top-nav ul li.active a, #top-nav ul li a:hover {color:#f8dbdb;}
/*body {background-color: powderblue;}
h1 {color: blue;}
div {color: red;}*/
#aboutFluff {
  margin: 5px; border: 2px solid rgb(0, 247, 255); padding: 5px;
background-color: white;
border-radius: 25px;}
#homeButton {
  text-align: center;
  background-color: beige;
  font-size: 1em;
  margin:  0.3em;
  border:  2px solid red;
  border-radius: 15px;
  padding: 0.3rem;
  max-width: 80px;
  width: auto;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#homeButton > a {
  text-decoration: none;
  color: red;
}

#shark {
  text-align: center;
  margin: 1rem;
}

#shark > img {
  max-width: 250px;
  min-width: 50px;
  width: 100%;
  max-height: 250px;
  min-height: 50px;
  height: auto;
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
}

@media (min-width: 550px) {
  #jumbotron {
    height: 60vh;
  }

  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }
}
